Repository luxass/actions-kit, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation, pkg: action-schema, pkg: actions-utils, pkg: actions-kit, pkg: esbuild-builder, pkg: rolldown-builder, pkg: rollup-builder, pkg: rspack-builder, pkg: vite-builder, pkg: webpack-builder, pkg: create-action, pkg: unplugin

.github/labeler.yml:

# See https://github.com/actions/labeler

"ðŸ“š documentation":
  - changed-files:
      - any-glob-to-any-file: docs/**

"pkg: action-schema":
  - changed-files:
      - any-glob-to-any-file: packages/action-schema/**

"pkg: actions-utils":
  - changed-files:
      - any-glob-to-any-file: packages/actions-utils/**

"pkg: actions-kit":
  - changed-files:
      - any-glob-to-any-file: packages/actions-kit/**

"pkg: esbuild-builder":
  - changed-files:
      - any-glob-to-any-file: packages/builders/esbuild/**

"pkg: rolldown-builder":
  - changed-files:
      - any-glob-to-any-file: packages/builders/rolldown/**

"pkg: rollup-builder":
  - changed-files:
      - any-glob-to-any-file: packages/builders/rollup/**

"pkg: rspack-builder":
  - changed-files:
      - any-glob-to-any-file: packages/builders/rspack/**

"pkg: vite-builder":
  - changed-files:
      - any-glob-to-any-file: packages/builders/vite/**

"pkg: webpack-builder":
  - changed-files:
      - any-glob-to-any-file: packages/builders/webpack/**

"pkg: create-action":
  - changed-files:
      - any-glob-to-any-file: packages/create-action/**

"pkg: unplugin":
  - changed-files:
      - any-glob-to-any-file: packages/unplugin/**

fix issues with rpsack and zod
  packages/builders/rspack/package.json
  packages/builders/rspack/rspack.d.ts
  packages/builders/rspack/src/index.ts
  playground/actions-kit.config.ts
  pnpm-lock.yaml
Labels: pkg: rspack-builder

chore: format
  packages/create-action/src/index.ts
  packages/create-action/src/utils.ts
  packages/create-action/tsup.config.ts
Labels: pkg: create-action

fix: only remove templates if exists
  packages/create-action/tsup.config.ts
Labels: pkg: create-action

chore: format
  packages/create-action/src/utils.ts
Labels: pkg: create-action

fix: require `actions-kit` to be built before builders
  packages/builders/esbuild/package.json
  packages/builders/rolldown/package.json
  packages/builders/rollup/package.json
  packages/builders/rspack/package.json
  packages/builders/vite/package.json
  packages/builders/webpack/package.json
  pnpm-lock.yaml
Labels: pkg: esbuild-builder, pkg: rolldown-builder, pkg: rollup-builder, pkg: rspack-builder, pkg: vite-builder, pkg: webpack-builder
